﻿@using TotalService.Helpers;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                   
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                @*@{
                                    string nombre = "";
                                    using (TotalService.Models.UsersContext ctx = new TotalService.Models.UsersContext())
                                    {
                                        //TotalService.Models.UserProfile user = ctx.UserProfiles.FirstOrDefault(u => u.UserId == WebSecurity.CurrentUserId);

                                        if (user != null)
                                        {
                                            nombre = user.FullName;
                                        }
                                    }
                                    
                                }
                                @nombre*@
                                </strong>
                            </span> 
                            
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    
                </div>
            </li>

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
                <li class="@Html.IsSelected(controller: "Home")">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-area-chart" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboard</span> <span class="fa arrow"></span></a>
                </li>
            }

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
            <li class="@Html.IsSelected(controller: "Ruta")">
                <a href="@Url.Action("Create", "Ruta")"><i class="fa fa-truck" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Ruta</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ruta", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Ruta")">Consultar</a></li>
                    <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Ruta")">Crear Ruta</a></li>
                </ul>
            </li>
            }
            

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
            <li class="@Html.IsSelected(controller: "Reporte")">
                <a href="@Url.Action("Index", "Reporte")"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Reporte", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Reporte")">Reporte de visitas</a></li>
                    <li class="@Html.IsSelected(action: "UsuarioEvidencia")"><a href="@Url.Action("UsuarioEvidencia", "Reporte")">Reporte de evidencias</a></li>
                </ul>
            </li>
            }

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
            <li class="@Html.IsSelected(controller: "Servicio")">
                <a href="@Url.Action("Index", "Servicio")"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Servicio</span> <span class="fa arrow"></span></a>
            </li>
            }

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
            <li class="@Html.IsSelected(controller: "Catalogo")">
                <a href="@Url.Action("Index", "Catalogo")"><i class="fa fa-book" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Catalogo</span> <span class="fa arrow"></span></a>
            </li>
            }

            @if (User.IsInRole(Comunes.ROL_Administrador) || User.IsInRole(Comunes.ROL_Supervisor))
            {
            <li class="@Html.IsSelected(controller: "Account")">
                <a href="@Url.Action("Index", "Account")"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.dashboard">Usuarios</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Reporte", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Account")">Listado</a></li>
                    <li class="@Html.IsSelected(action: "Register")"><a href="@Url.Action("Register", "Account")">Registrar Usuario</a></li>
                    <li class="@Html.IsSelected(action: "ChangePassword")"><a href="@Url.Action("ChangePassword", "Account")">Cambiar Contraseña</a></li>
                </ul>
            </li>
            }

        </ul>
    </div>
</nav>