﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
        </div>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
        <ul class="nav navbar-top-links navbar-right">

            <li>

               
                    <a href="javascript:document.getElementById('logoutForm').submit()">

                        <i class="fa fa-sign-out"></i> Cerrar Sesión

                    </a>
                

            </li>

            <li>


            </li>
        </ul>
                }
    </nav>
</div>