﻿@model IEnumerable<TotalService.Models.CAT_Menu>

@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Index</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Menu</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado Menu</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioUltimaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_Aplicacion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_Menu2.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioUltimaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_Aplicacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_Menu2.Descripcion)
        </td>
        <td>
			@Html.ActionLink("Detalles", "Details", new { id=item.IdMenu }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Editar", "Edit", new { id=item.IdMenu }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdMenu }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



