﻿@model IEnumerable<TotalService.Models.OPE_ServicioVisita>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAT_Servicio.ServicioDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RutaFotografia)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(m => item.CAT_Servicio.ServicioDescripcion)
            </td>
            <td>
                @Html.DisplayFor(m => item.ComentarioServicio)
            </td>
            <td>
                <img src="@Url.Content("~/Imagenes/" + System.IO.Path.GetFileName(item.RutaFotografia))" />


            </td>
        </tr>

    }

</table>



