﻿@model TotalService.Models.OPE_Visita



<table class="table table-striped">
    <tr>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.FechaHoraCheckIn)
        </th>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.OPE_CheckOut.FechaHora)
        </th>
        <th style="width:60%">
            @Html.DisplayNameFor(model => model.OPE_CheckOut.Comentario)
        </th>
   </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.FechaHoraCheckIn)
        </td>
        <td>
            @Html.DisplayFor(model => model.OPE_CheckOut.FechaHora)
        </td>
        <td>
            @Html.DisplayFor(model => model.OPE_CheckOut.Comentario)
        </td>
    </tr>    
</table>

<table class="table table-striped">
    <tr>
        <th>
            Mapa
        </th>
        <th>
            Fotografías
        </th>
    </tr>
    <tr>
        <td style="width:40%">
            @{
                List<TotalService.Controllers.marker> lista = new List<TotalService.Controllers.marker>();


                if (!string.IsNullOrEmpty(Model.LatitudCheckIn) && !string.IsNullOrEmpty(Model.LongitudCheckIn))
                {
                    lista.Add(new TotalService.Controllers.marker()
                    {
                        Indice = 1,
                        Latitud = decimal.Parse(Model.LatitudCheckIn),
                        Longitud = decimal.Parse(Model.LongitudCheckIn)
                    });
                }

                if (!string.IsNullOrEmpty(Model.OPE_CheckOut.Latitud) && !string.IsNullOrEmpty(Model.OPE_CheckOut.Longitud))
                {
                    lista.Add(new TotalService.Controllers.marker()
                    {
                        Indice = 2,
                        Latitud = decimal.Parse(Model.OPE_CheckOut.Latitud),
                        Longitud = decimal.Parse(Model.OPE_CheckOut.Longitud)
                    });
                }

                ViewBag.Lista = lista;
            }
            @Html.Partial("Mapa", new TotalService.Controllers.marker() { NombreMapa = string.Format("CheckOutMap{0}", TotalService.Controllers.marker.Random.Next(1, 10000)) })
        </td>

        <td style="width:40%">


            <div class="carousel slide" id="carousel2">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel2" class="active"></li>
                    <li data-slide-to="1" data-target="#carousel2"></li>
                    <li data-slide-to="2" data-target="#carousel2"></li>
                    <li data-slide-to="3" data-target="#carousel2"></li>
                    <li data-slide-to="4" data-target="#carousel2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="image" class="img-responsive" src="~/Imagenes/@Url.Content(System.IO.Path.GetFileName(Model.OPE_CheckOut.RutaFotografiaFrente))">
                        <div class="carousel-caption">
                            <p>Fotografía frente</p>
                        </div>
                    </div>
                    <div class="item ">
                        <img alt="image" class="img-responsive" src="~/Imagenes/@Url.Content(System.IO.Path.GetFileName(Model.OPE_CheckOut.RutaFotografiaLateralDerecho))">
                        <div class="carousel-caption">
                            <p>Fotografía lateral derecha</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="image" class="img-responsive" src="~/Imagenes/@Url.Content(System.IO.Path.GetFileName(Model.OPE_CheckOut.RutaFotografiaAtras))">
                        <div class="carousel-caption">
                            <p>Fotografía atrás</p>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="image" class="img-responsive" src="~/Imagenes/@Url.Content(System.IO.Path.GetFileName(Model.OPE_CheckOut.RutaFotografiaLateralIzquierda))">
                        <div class="carousel-caption">
                            <p>Fotografía lateral izquierda</p>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="image" class="img-responsive" src="~/Imagenes/@Url.Content(System.IO.Path.GetFileName(Model.OPE_CheckOut.RutaFirmaResponsable))">
                        <div class="carousel-caption">
                            <p>Fotografía firma del resposable</p>
                        </div>
                    </div>

                </div>
                <a data-slide="prev" href="#carousel2" class="left carousel-control">
                    <span class="icon-prev"></span>
                </a>
                <a data-slide="next" href="#carousel2" class="right carousel-control">
                    <span class="icon-next"></span>
                </a>
            </div>



        </td>


    </tr>


</table>

