﻿@model IEnumerable<TotalService.Models.OPE_Visita>


@using (Ajax.BeginForm("EliminaVisitado", "Ruta", new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "divVisitado" }))
{
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <input type="hidden" name="filaEliminar" id="filaEliminar" value=""/>

                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.NombreEmpresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.NombreResponsable)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.Colonia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.Municipio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().OPE_Visitado.Telefono)
                            </th>
                            <th></th>
                        </tr>
                        @{int indice = 0; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.NombreEmpresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.NombreResponsable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.Colonia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.Municipio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPE_Visitado.Telefono)
                            </td>
                            <td>
                                @if (item.OPE_Visitado.Editable.Value)
                                {
                                <input type="submit" value="Eliminar" onclick="$('#filaEliminar').val( @indice )" class="btn btn-primary" />
                                }

                                @{ indice = indice + 1;  }
                            </td>
                        </tr>
                    }

                    </table>

                </div>
            </div>
        </div>
    </div>
 </div>


}
