﻿@model IEnumerable<TotalService.Models.OPE_Devolucion>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevolvioRefacciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CadenaFotografia)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComentarioDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevolvioRefacciones)
        </td>
        <td>
            <img src="@Url.Content("~/Imagenes/" + System.IO.Path.GetFileName(item.RutaFotografia))" />
        </td>
    </tr>
}

</table>




