﻿@model TotalService.Models.OPE_Visita



<table class="table table-striped">
    <tr>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.FechaHoraCheckIn)
        </th>
        <th>
            Mapa
        </th>
   </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.FechaHoraCheckIn)
        </td>

        <td style="width:40%">
            @{
                List<TotalService.Controllers.marker> lista = new List<TotalService.Controllers.marker>();


                if (!string.IsNullOrEmpty(Model.LatitudCheckIn) && !string.IsNullOrEmpty(Model.LongitudCheckIn))
                {
                    lista.Add(new TotalService.Controllers.marker()
                    {
                        Indice = 1,
                        Latitud = decimal.Parse(Model.LatitudCheckIn),
                        Longitud = decimal.Parse(Model.LongitudCheckIn)
                    });
                }


                ViewBag.Lista = lista;
            }
            @Html.Partial("Mapa", new TotalService.Controllers.marker() { NombreMapa = string.Format("CheckInMap{0}", TotalService.Controllers.marker.Random.Next(1, 10000)) })
        </td>
        
    </tr>


</table>

