﻿@model TotalService.Models.OPE_Visita



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                </div>

                <div class="ibox-content ">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.NombreEmpresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.NombreResponsable)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.Colonia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.Municipio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OPE_Visitado.Telefono)
                            </th>
                        </tr>

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.NombreEmpresa)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.NombreResponsable)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.Colonia)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.Municipio)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OPE_Visitado.Telefono)
                            </td>
                        </tr>
                    </table>

                    @{ 

                        if (@Model != null && @Model.OPE_CheckOut != null)
                        {


                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">

                                        <div class="ibox-title">
                                            <h5>Check Out</h5>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        
                                        <div class="ibox-content">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td colspan="6">
                                                        @Html.Partial("_IndexCheckOut", Model)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        }
                        else if (@Model != null && @Model.OPE_CheckOutSinValidar != null)
                        {


                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-title">
                                                <h5>Check Out Sin Validar</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                            <div class="ibox-content">
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td colspan="6">
                                                            @Html.Partial("_IndexCheckOutSinValidar", Model)

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else if (Model.FechaHoraCheckIn != null && Model.FechaHoraCheckIn != DateTime.MinValue)
                        {
                            <div class="wrapper wrapper-content animated fadeInRight">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-title">
                                                <h5>Check In</h5>
                                                <div class="ibox-tools">
                                                    <a class="collapse-link">
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="ibox-content">
                                                <table style="width: 100%">
                                                    <tr>
                                                        <td colspan="6">
                                                            @Html.Partial("_IndexCheckIn", Model)

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    

                    @if (@Model != null && @Model.OPE_ServicioVisita != null && @Model.OPE_ServicioVisita.Count > 0)
                    {
                        
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="ibox float-e-margins">

                                                    <div class="ibox-title">
                                                        <h5>Servicios</h5>
                                                        <div class="ibox-tools">
                                                            <a class="collapse-link">
                                                                <i class="fa fa-chevron-up"></i>
                                                            </a>
                                                        </div>
                                                    </div>


                                                    <div class="ibox-content">

                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td colspan="6">

                                                                    @Html.Partial("_IndexServicio", Model.OPE_ServicioVisita)

                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                    }

                    @if (@Model != null && @Model.OPE_Devolucion != null && @Model.OPE_Devolucion.Count > 0)
                    {
                        

                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="ibox float-e-margins">

                                                    <div class="ibox-title">
                                                        <h5>Devoluciones</h5>
                                                        <div class="ibox-tools">
                                                            <a class="collapse-link">
                                                                <i class="fa fa-chevron-up"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="ibox-content">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td colspan="6">
                                                                    @Html.Partial("_IndexDevolucion", Model.OPE_Devolucion)
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                               
                    }





                </div>
            </div>

        </div>
    </div>
</div>








