﻿@model TotalService.Models.OPE_Visitado

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

        
                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreEmpresa, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NombreEmpresa)
                                @Html.ValidationMessageFor(model => model.NombreEmpresa)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreResponsable, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NombreResponsable)
                                @Html.ValidationMessageFor(model => model.NombreResponsable)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Direccion)
                                @Html.ValidationMessageFor(model => model.Direccion)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Colonia, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Colonia)
                                @Html.ValidationMessageFor(model => model.Colonia)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Municipio, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Municipio)
                                @Html.ValidationMessageFor(model => model.Municipio)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telefono)
                                @Html.ValidationMessageFor(model => model.Telefono)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </div>
 </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}