﻿@model TotalService.Models.OPE_Visita



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>_Visita OPE_Visita</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IdRuta, "IdRuta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRuta", String.Empty)
                @Html.ValidationMessageFor(model => model.IdRuta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdVisitado, "IdVisitado", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdVisitado", String.Empty)
                @Html.ValidationMessageFor(model => model.IdVisitado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdEstatusVisita, "IdEstatusVisita", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdEstatusVisita", String.Empty)
                @Html.ValidationMessageFor(model => model.IdEstatusVisita)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCheckOutSinValidar, "IdCheckOutSinValidar", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCheckOutSinValidar", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCheckOutSinValidar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCheckOut, "IdCheckOut", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCheckOut", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCheckOut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaHoraCheckIn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaHoraCheckIn)
                @Html.ValidationMessageFor(model => model.FechaHoraCheckIn)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}

                </div>
            </div>
        </div>
    </div>
 </div>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
