﻿@model TotalService.Models.OPE_Ruta

@{
    ViewBag.Title = "Detalle";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Listado", "Index")
            </li>
            <li class="active">
                <strong>Detalle</strong>
            </li>
        </ol>
    </div>
</div>



<style>
    .wrapper-content {
        padding: 0px 10px 0px;
    }
    .ibox {
        margin-bottom: 5px;
    }
    .ibox-content {
        padding: 0px 20px 0px 20px;
        border-style: none;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Ruta</h4>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-10">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FechaRuta)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FechaRuta)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CAT_Usuario.Nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CAT_Usuario.Nombre)
                                </dd>

                            </dl>
                        </div>
                        <div class="col-md-2 text-center">
                            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>

              

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Información de la visita</h5>
                </div>
                <div class="ibox-content">

                    @foreach (var item in Model.OPE_Visita)
                    {
                        @Html.Partial("_IndexServicioVisitado", item)
                    }



                </div>
            </div>
            
        </div>
    </div>
</div>













