﻿@model IEnumerable<TotalService.Models.OPE_Ruta>

@{
    ViewBag.Title = "Listado";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Listado</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Rutas</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Listado de Rutas</h5>
        <div class="ibox-tools">
            @Html.ActionLink("Registrar Ruta", "Create", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    </div>
    <div class="ibox-content">


    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="row col-lg-4">

                <label class="col-lg-2 control-label">Técnico</label>

                <div class="col-lg-10">

                    @Html.DropDownList("UsernameTecnico", new SelectList(ViewBag.UsernameTecnico, "Value", "Text"), new { @class = "form-control" })

                </div>



            </div>

            <div class="row col-lg-4">

                <label class="col-lg-4 control-label">Fecha</label>

                <div class="form-group col-lg-8" id="data_1">



                    <div class="input-group date">

                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                        <input type="date" name="FechaRuta" class="form-control" min="2017-01-01">

                    </div>

                </div>

            </div>


            <div class="row col-lg-4">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>

            <div class="row col-lg-12">&nbsp;</div>
            <div class="row col-lg-12">&nbsp;</div>

        </div>

    }

        
<table class="table table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAT_Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRuta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRuta)
        </td>
        <td>
			@Html.ActionLink("Detalle", "Details", new { id=item.IdRuta }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Editar", "Edit", new { id=item.IdRuta }, new { @class = "btn btn-white btn-sm"})
             
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



