﻿@model TotalService.Controllers.marker

@{
    Layout = null;
    ViewBag.Title = "Mapa";

}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD8kFN5YVSZ7h4JRv5ZWuLhfA3tvfGtWBI&sensor=false"></script>
    <script type="text/javascript">
    function initialize() {

        var marcadores = @Html.Raw(Json.Encode(@ViewBag.Lista));

      var map = new google.maps.Map(document.getElementById('@Model.NombreMapa'), {
        zoom: 10,
        center: new google.maps.LatLng(20.629054,  -103.303066),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var infowindow = new google.maps.InfoWindow();
      var marker, i;
      for (i = 0; i < marcadores.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(marcadores[i].Latitud, marcadores[i].Longitud ),

          map: map
        });
        marker.setIcon('../../Content/img/numero'+marcadores[i].Indice+'.png');

      }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>


<div id="@Model.NombreMapa" style="height: 400px; width: 100%"></div>