﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h4>Cambiar Contraseña</h4>
            </div>
            <div class="ibox-content">

                @using (Html.BeginForm("ChangePassword"))
                {
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Usuario</label>
                                    <div class="col-md-8"><input type="text" value="@WebSecurity.CurrentUserName" class="form-control" name="userName" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contraseña Actual</label>
                                    <div class="col-md-8">
                                        <input type="password" value="" name="oldPassword" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nueva Contraseña</label>
                                    <div class="col-md-8"><input type="password" value="" name="newPassword" class="form-control" /></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Cambiar Contraseña" class="btn btn-default" />
                        </div>
                    </div>  
                    
                }
            </div>
        </div>
    </div>
</div> 

