﻿@using TotalService.Models;
@model IEnumerable<UserProfile>

@{
    ViewBag.Title = "Listado";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Listado</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Usuario</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de Usuarios</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Crear Usuario", "Register", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                            </th>
                            <th>
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { userId = item.UserId }, new { @class = "btn btn-white btn-sm" })

                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>