﻿@model IEnumerable<TotalService.Models.VisitasUsuario>



@{

    ViewBag.Title = "DataTables";

}



<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-lg-10">

        <h2>Data Tables</h2>

        <ol class="breadcrumb">

            <li>

                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>

            </li>

            <li>

                <a>Reportes</a>

            </li>

            <li class="active">

                <strong>Reporte de visitas de usuario por mes</strong>

            </li>

        </ol>

    </div>

    <div class="col-lg-2">



    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">





    <div class="col-lg-12">

        <div class="ibox float-e-margins">

            <div class="ibox-title">

                <h5>Parametros</h5>

            </div>

            <div class="ibox-content">

                <form class="form-horizontal" action="~/Reporte/VisitaUsuario" method="post">

                    <div class="form-group">

                        <div class="row col-lg-6">

                            <label class="col-lg-2 control-label">Técnico</label>

                            <div class="col-lg-10">

                                <input type="text" placeholder="Técnico" class="form-control">

                            </div>



                        </div>

                        <div class="row col-lg-5">

                            <label class="col-lg-4 control-label">Fecha</label>

                            <div class="form-group col-lg-8" id="data_1">



                                <div class="input-group date">

                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                    <input type="date" name="calendario" class="form-control" min="2017-01-01">

                                </div>





                            </div>

                        </div>

                        <div class="col-lg-1">

                            <div class="form-group">

                                <button class="btn btn-sm btn-default " type="submit">Buscar</button>
                            </div>

                        </div>







                    </div>



                </form>

            </div>

        </div>

    </div>







    <div class="col-lg-12">

        <div class="ibox float-e-margins">

            <div class="ibox-title">

                <h5>Reporte de visitas de usuario por mes</h5>

                <div class="ibox-tools">

                    <a class="collapse-link">

                        <i class="fa fa-chevron-up"></i>

                    </a>

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                        <i class="fa fa-wrench"></i>

                    </a>

                    <ul class="dropdown-menu dropdown-user">

                        <li>

                            <a href="#">Config option 1</a>

                        </li>

                        <li>

                            <a href="#">Config option 2</a>

                        </li>

                    </ul>

                    <a class="close-link">

                        <i class="fa fa-times"></i>

                    </a>

                </div>

            </div>

            <div class="ibox-content">



                <table class="table table-striped table-bordered table-hover dataTables-example">

                    <thead>

                        <tr>

                            <th>Visitas Programadas</th>

                            <th>Visitas CheckOut</th>

                            <th>Visitas CheckOut sin validar</th>

                            <th>Visitas Sin Realizar</th>



                        </tr>

                    </thead>

                    <tbody>



                        <tr class="gradeC">

                            <td class="center">23</td>

                            <td>

                                <img src="~/Content/patterns/1.png" />

                            </td>

                            <td class="center">10</td>

                            <td class="center">0</td>

                        </tr>



                        @if (Model != null)

                        {

                            foreach (var item in Model)

                            {

                                <tr class="gradeC">

                                    <td class="center">@item.VisitasProgramadas</td>

                                    <td>

                                        @item.VisitasCheckOut

                                    </td>

                                    <td class="center">@item.VisitasCheckOutSinValidar</td>

                                    <td class="center">@item.VisitasProgramadas</td>

                                </tr>

                            }

                        }



                </table>



            </div>

        </div>

    </div>

</div>







@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}



@section Scripts {

    @Scripts.Render("~/plugins/dataTables")



    <script type="text/javascript">

        $(document).ready(function () {



            $('.dataTables-example').DataTable({

                pageLength: 25,

                dom: '<"html5buttons"B>lTfgitp',

                buttons: [

                    { extend: 'copy' },

                    { extend: 'csv' },

                    { extend: 'excel', title: 'ExampleFile' },

                    { extend: 'pdf', title: 'ExampleFile' },



                    {

                        extend: 'print',

                        customize: function (win) {

                            $(win.document.body).addClass('white-bg');

                            $(win.document.body).css('font-size', '10px');



                            $(win.document.body).find('table')

                                    .addClass('compact')

                                    .css('font-size', 'inherit');

                        }

                    }

                ]



            });







        });



    </script>

}
