﻿@model TotalService.Models.CAT_Catalogo

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Listado", "Index")
            </li>
            <li class="active">
                <strong>Detalles</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles Catalogo</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogoDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogoDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenAparicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenAparicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAT_TipoCatalogo.TipoCatalogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAT_TipoCatalogo.TipoCatalogo)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCatalogo }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













