﻿@model TotalService.Models.EncuestaModelView
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox e-float-margin">
            <div class="ibox-title">
                <h4>Detalle Encuesta</h4>
            </div>
            <div class="ibox-content">
                <h4>@Html.DisplayFor(m => m.DescripcionEncuesta)</h4>
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Pregunta</th>
                            <th>Respuestas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listaPreguntas)
                        {
                            <tr>
                                <td>@item.DescripcionPregunta</td>
                                <td>
                                    <ul>
                                        @foreach (var respuesta in item.listaRespuestas)
                                        {
                                            <li>@respuesta.DescripcionRespuesta</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
