﻿@model IEnumerable<TotalService.Models.EncuestaModelView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="ibox e-margins-float">
            <div class="ibox-title">
                <h4>Encuestas</h4>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre Encuesta</th>
                            <th>Usuario Creación</th>
                            <th>Usuario Ultima Modificación</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DescripcionEncuesta</td>
                                <td>@item.UsuarioCreacion</td>
                                <td>@item.UsuarioUltimaModificacion</td>
                                <td>@Html.ActionLink("Eliminar","Delete", new { id=@item.idEncuesta })</td>
                                <td>@Html.ActionLink("Detalles", "Details", new { id = @item.idEncuesta })</td>
                                <td>@Html.ActionLink("Modificar", "Edit", new { id = @item.idEncuesta })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
